/* Left border on entire page */
html {
  border-left: 5px solid lightgray;
}

/* Body styling */
body {
  min-height: 100vh;
  font-family: sans-serif;
  max-width: 1000px;
  margin: 0 auto;
}

/* Padding fix for margin collapse + spacing */
header,
main,
footer {
  padding: 1rem 2rem;
}

/* Title styling */
h1 {
  color: tomato;
}

/* Images full width */
img {
  width: 100%;
}

/* NAVIGATION RESET */
.main-nav ul,
.footer-nav ul {
  padding: 0;
  list-style-type: none;
  display: flex;
}

/* Top navigation layout */
.main-nav ul {
  justify-content: space-between;
}

/* Footer navigation layout */
.footer-nav ul {
  justify-content: space-between;
}

/* Main nav link colors */
.main-nav a {
  color: lightgray;
  text-decoration: none;
}

/* Footer nav link colors */
.footer-nav a {
  color: tomato;
  text-decoration: none;
}

/* Article styling */
article {
  margin-bottom: 4rem;
  border-bottom: 1px solid lightgray;
  padding-bottom: 2rem;
}

/* Blog post titles larger */
article h2 {
  font-size: 2rem;
}

/* Continue link styling */
.continue {
  display: block;
  text-align: right;
  font-weight: bold;
  color: tomato;
  text-decoration: none;
}

/* Drop cap */
article p::first-letter {
  font-size: 3rem;
  float: left;
  line-height: 1;
  padding-right: 0.5rem;
  color: lightgray;
}

/* Copyright styling */
copyright,
.copyright {
  color: lightgray;
}
